.poster {
margin-left: 4%;
float: left;

}

img {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.contain{
    
    position: relative;
    float: right;
    width: 50%;
    margin-top: 1%;
    margin-right: 27%;
    background-color: #323b49 ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
  
   
}

.name{
margin-top: 5px;
margin-left: 20px;
}
h1{
    color: azure;
}
.desc{
    width: 85%;
    margin-bottom: 23px;
    margin-left: 20px;
}

p{
color: azure;

}
