.search{
    width: 20%;
    /* width: 5%; */
    position: absolute;
    left: 77%;
    top: 20px;
    text-align: initial;
   
   
    }

.suggest{
    
    width: 15%;
    position: absolute;
    left: 78%;
    top: 80px;
}



.slot{
    color: azure;
    margin-top: 10px;
}

input[type=text] {
    border-color: #293241;
    border-radius: 1px;
    color: azure;
    background: #293241;
    
  }

input::placeholder{
    color: azure;
}