.search{
    width: 20%;
    position: absolute;
    left: 77%;
    top: 20px;
    text-align: initial;
  
   
   
    }

.suggest{
    
    width: 15%;
    position: absolute;
    left: 78%;
    top: 80px;
}



.slot{
    color: azure;
    margin-top: 10px;
}

input[type=text] {
    border: 0px solid azure; 
    color: azure;
    background: #293241;
    
  }

input::placeholder{
    color: azure;
}