.search{
    width: 20%;
    position: absolute;
    left: 77%;
    top: 20px;
    
    height: 3%;
    border: 0PX;
   
   
   
    }

.suggest{
    
    width: 15%;
    position: absolute;
    left: 78%;
    top: 60px;
}



.slot{
    color: #f0ffff;
    margin-top: 10px;
}

input[type=text] {
    border: 0px;
    border-radius: 1px;
    color: #f0ffff;
    background: #242424;
    outline: none;
    text-align: left;
    
  }

input::placeholder{
    color: #f0ffff;
}

input:focus{

    border-bottom: 1px solid #ffffbb;

}