@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap");

body  {
	 background-color: #202325; 
	 font-family: 'Titillium Web', sans-serif;
	
	
  }

.displayApp{
	position: relative;
	margin-top: 9.7%;
	width: 100%;
	
}

